* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background: #333;
	color: #fff;
}

a {
	color: inherit;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
